h2{
    text-decoration: underline;
    text-align: center;
    color:rgb(0, 238, 255);
}
#fullname{
    font-size: large;
}
#phno{
    font-size: large;
}
#email{
    font-size: large;
}
#button{
    
    font-size: x-large;
    background-color: rgb(255, 0, 0);
    
    
}
body{
    font-size: xx-large;
    color: aliceblue;
    background-image:url("shiva.jpg");
    background-size: cover;
}

